[Desktop Entry]
Type=Service
Icon=application-x-compressed-tar
Name=Tar Plugin

ServiceTypes=Aku/Plugin

X-KDE-PluginInfo-Author=Alessandro Diaferia
X-KDE-PluginInfo-Email=alediaferia@gmail.com
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Name=gzip
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-Library=aku_tarplugin
