<?xml version="1.0" encoding="UTF-8"?>
<gui name="aku"
     version="1"
     xmlns="http://www.kde.org/standards/kxmlgui/1.0"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xsi:schemaLocation="http://www.kde.org/standards/kxmlgui/1.0
                         http://www.kde.org/standards/kxmlgui/1.0/kxmlgui.xsd" >

  <MenuBar>
   <Menu name="commands"><text>Commands</text>
      <Action name="extract" />
      <Action name="add" />
      <Action name="delete" />
      <Action name="rename" />
      <Separator />
      <Action name="lock" />
      <Action name="encrypt" />
   </Menu>
   <Menu name="view" >
      <Action name="infopanel" />
      <Action name="filter" />
   </Menu>
   <Menu name="settings" >
      <Action name="pluginsinfo" />
   </Menu>
  </MenuBar>

  <ToolBar name="mainToolBar" >
      <Action name="extract" />
      <Action name="add" />
      <Action name="delete" />
      <Action name="rename" />
      <Action name="preview" />
  </ToolBar>

</gui>
