[Desktop Entry]
Type=Service
Icon=application-x-ace
Name=Ace Plugin

ServiceTypes=Aku/Plugin

X-KDE-PluginInfo-Author=Francesco Grieco
X-KDE-PluginInfo-Email=fgrieco@gmail.com
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Name=ace
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-Library=aku_aceplugin
